<?xml version='1.0' encoding='utf-8'?>
<widget id="com.adillo.foldir" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ifni</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- إعدادات الأندرويد والأيقونة وشاشة الافتتاحية -->
    <platform name="android">
        <allow-intent href="market:*" />
        
        <!-- اللوغو (أيقونة التطبيق) -->
        <icon src="res/icon/logo.png" />

        <!-- شاشة الافتتاحية (Splash Screen) -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/splash.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
        <splash src="res/screen/splash.png" />
        <preference name="SplashScreenDelay" value="3000" />
        <preference name="SplashMaintainAspectRatio" value="true" />
    </platform>
</widget>
